
/* Flex Container */
.container {
	max-width: 360px;
	margin: 0 auto;
	display: flex;
    border: 1px solid #ccc;
    flex-wrap: wrap;
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: #F7FF58;
	text-align: center;
	font-size: 2.5em;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: bold;
}

body {
	font-family: monospace;
    color:  #5E565A;
    background-color: #EFECCA;
}
h2{
    text-align: center;
    font-size: 3.25em;
}

.container-grid{

    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: auto;
    padding-left: 10%;
    padding-right: 10%;
}

ul{
    background-color:#5E565A ;
    text-align: justify;
    margin: 5px;
    padding: 10px;
    display: flex;
    text-align: center;
    font-size: x-large;
    
}
li{
    list-style-type: none;
    margin: 05px;
}
a{
   color: #EFECCA;
   
}

.item2 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: #FF934F;
	text-align: center;
    font-size: 2.5em;
    border-style: solid;
    border-radius: 25px;
}